<div class="container mt-5">
  <hr style="border-top: 2px solid #211419;">
</div>
<div class="px-4 py-5 my-5 text-center" style="background: url(./img/240_F_692232472_Fci1D4gmtbHt5EBZYJfXBX6DYIYmVXCA.jpg)">
  <h1 class="display-5 text-body-emphasis" style="font-family: cursive; color: #211419;">Welcome to Sweet Nectar</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4" style="font-family: cursive; color: #211419;">We offer delcious and beautiful desserts and sweet treats
    to make every special moment in your life just a bit more special</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-light btn-lg px-4 gap-3" fdprocessedid="27v19p" onclick="location.href='add.html'">Request Dessert</button>
      <button type="button" class="btn btn-light btn-lg px-4" fdprocessedid="za84k9" onclick="location.href='list.html'">View Treats</button>
    </div>
  </div>
</div>
<div class="px-4 py-5 my-5 text-center" style="background: url(./img/360_F_387865070_QDNlJBIFhDSl2tQcHjsWEJecToBJ2xAI.jpg)">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
  <div id="carouselFade" class="carousel slide carousel-fade container">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img/eclairs.jpg" class="d-block w-100" alt="A picture of french eclairs">
        <div class="carousel-caption d-none d-md-block">
          <h5>French Eclairs</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/istockphoto-114335947-612x612.jpg" class="d-block w-100" alt="A picture of fruit pasteries">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fruit Pasteries</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/istockphoto-139885298-612x612.jpg" class="d-block w-100" alt="A picture of baked goods like brownies, cookies, and muffins">
        <div class="carousel-caption d-none d-md-block">
          <h5>Traditional Baked Good Spreads</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/istockphoto-160239364-612x612.jpg" class="d-block w-100" alt="A picture of french macarons">
        <div class="carousel-caption d-none d-md-block">
          <h5>French Macarons</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/istockphoto-497959594-612x612.jpg" class="d-block w-100" alt="A picture of various pasteries">
        <div class="carousel-caption d-none d-md-block">
          <h5>Assorted Pasteries</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="img/cake.jpg" class="d-block w-100" alt="A picture of various fruit pasteries">
        <div class="carousel-caption d-none d-md-block">
          <h5>Chocolate Hazelnut Cake</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="p-1"></div>
  <hr class="my-4">
  <div class="p-1"></div>
</div>
<div class="container mt-5">
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        French Eclairs
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Try them today!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Fruit Pasteries
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Try them today!
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Traditional Baked Good Spreads
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Try them today! 
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      French Macarons
    </button>
  </h2>
  <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      Try them today! 
  </div>
</div>
</div>    
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Assorted Pasteries
    </button>
  </h2>
  <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      Try them today! 
  </div>
</div>
</div>    
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      Chocolate Hazelnut Cake
    </button>
  </h2>
  <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      Try it today! 
  </div>
</div>
</div> 
</div>       
