<div style="background: url(./img/240_F_692232472_Fci1D4gmtbHt5EBZYJfXBX6DYIYmVXCA.jpg)">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li><a href="/" class="nav-link px-2 link-body-emphasis" style="font-family: cursive; color: #211419;">Home</a></li>  
          <li><a href="./about.html" class="nav-link px-2 link-body-emphasis" style="font-family: cursive; color: #211419;">About Us</a></li>
          <li><a href="./contact.html" class="nav-link px-2 link-body-emphasis" style="font-family: cursive; color: #211419;">Contact Us</a></li>
          <li><a href="./add.html" class="nav-link px-2 link-body-emphasis" style="font-family: cursive; color: #211419;">Request Desserts</a></li>
          <li><a href="./list.html" class="nav-link px-2 link-body-emphasis" style="font-family: cursive; color: #211419;">View Treats</a></li>
        </ul>
      </header>
    </div>
  </div>
  <div class="banner text-center">
    <h1 style="font-family: cursive; color: #211419;">♥ Sweet Nectar ♥</h1>
</div>